@charset "UTF-8";

body {
    background-image: url(imagens/Aatrox_back.jpg);
}

div.menu {

    display: inline-block;
    border: 3px solid black;
    border-radius: 5%;
    width:200px;
    height: auto;
}
