@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@400;500;600;700&family=MedievalSharp&display=swap');

      

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(21, 72, 131);
}

main {
    margin: 100px;
    border: 50px;
    border-radius: 5%;
    padding: 50px;
    
    background-color: aliceblue;
}
main > ol {
    text-align: end;

}

main > h1 {
    
}


